/* Styles for my new IMPORTANT website */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.active{
    color: rgb(240, 39, 116);
}

/* page specific styles */
.home{
    background: white;
}
.home h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 12px;
}
.about{
    background: beige;
}
.daily{
    background: lightcyan;
}
.customers{
    background: lightgoldenrodyellow;
}
.contact{
    background: lightgray;
}
.gallery{
    background: lightsteelblue;
}
/* end page specific styles */

h1{
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 9px;
}

.center{
    text-align: center;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

table{
    border: 3px solid rgb(211, 56, 56);
    width: 580px;
    padding: 20px;
}

.candidates td:nth-child(1),
.candidates td:nth-child(2){
    width: 150px;
}

.candidates td:nth-child(2){
    padding-left: 20px;
}

header{
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    /* when you have elements floating in a container you often need overflow:hidden 
            for the other styles to take effect. */
}

.inner-header{
    width: 940px;
    margin: 20px auto;
}

#logo{
    width: 150px;
    float: left;
}

img{
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

nav ul{
    float: right;
    margin-top: 20px;
}

nav li{
    float: left;
    margin-left: 15px;
    list-style-type: none;
}

nav a{
    color: rgb(102, 10, 48);
    text-decoration: none;
}

#wrapper{
    clear: both;
    width: 940px;
    margin: 0 auto;
}

main{
    width: 580px;
    float: left;
}

aside{
    width: 340px;
    margin-top: 15px;
    float: right;
}
aside img{
    margin: 10px auto 15px auto;
}

blockquote{
    font-size: 1.4em;
    margin: 20px 100px;
}

footer{
    height: 50px;
    line-height: 50px;
    border-top: 1px dotted tan;
    clear: both;
}

footer li{
    float: left;
    margin-right: 30px;
    list-style-type: none;
}