/* Styles for my FINAL-PROJECT website */
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Noto+Sans+JP&family=Rubik&family=Ubuntu&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
header{
    margin-bottom: 20px;
    /* padding-bottom: 20px; */
    overflow: hidden;
    background: #6e9baf;
}

.inner-header{
    width: 940px;
    margin: 0 auto;
}
h1, h2{
    margin: 20px 0;
}
#logo{
    width: 120px;
    float: left;
}

#wrapper{
    clear: both;
    width: 940px;
    margin: 0 auto;
    overflow: auto;
}

nav{
    float:right;
    color: rgb(250, 250, 250) !important;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block; /*could also use float*/
    margin-left: 50px;
    padding-top: 25px; /*used for the animation*/
    position: relative;
    transition: all ease-in-out 250ms;
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
nav a:hover{
    color:  rgb(250, 114, 114);
}
nav a::after{
    content: '';
    display: block;
    /* height: 5px; */
    background-color: rgb(250, 114, 114);
    position: absolute;
    bottom: -1em;
    /* top: 0; */
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::after{
    width: 100%;
}

.center{
    text-align: center;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.daily h4{
    margin-top: 50px;
    margin-bottom: 10px;
}
.daily li{
    list-style-type: square;
}
.daily a:link{
    text-decoration: none;
    color:  #6e9baf;
}
main{
    width: 580px;
    float: left;
}

aside{
    width: 340px;
    margin-top: 15px;
    float: right;
}

footer{
    height: 50px;
    line-height: 50px;
    clear: both;
}
footer a:visited{
    color: black;
}
footer li{
    float: left;
    margin-right: 30px;
    list-style-type: none;
    text-decoration: overline;
    text-decoration: underline;
    padding-top: 100px; 
}

